img {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
}

h1 {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  font-size: 40px;
  margin: 10px;
}

h3 {
  margin: 5px;
  font-size: 28px;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

h3 a {
  text-decoration: none;
  color: red;
}
