.step {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.step p{
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    background-color: white;
    color:black;
    padding: 10px;
}
.step button {
    padding: 5px;
    color: white;
}